body {
    font-family: Arial, sans-serif;
    background-color: #000000ee;
    color: white;
}

h2, p {
    background-color: darkcyan;
    border: 2px solid black;
    padding: 5px;
}

span {
    background-color: cornflowerblue ;
    border: 2px solid black;
    padding: 5px;
}

.text {
    background-color: darkred;
}

#last {
    background-color: darkolivegreen;
}