/* X-Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    /* header start */
    header {
        padding: 5px 0;
    }

    .logo {
        width: 65px;
    }

    .logo-h1 {
        font-size: 20px;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .banner {
        padding-bottom: 60px;
    }

    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 0 20px;
        font-size: 35px;
        line-height: 50px;
    }

    .b-p2 {
        margin: 0;
        line-height: 30px;
    }

    .b-img {
        margin: 0 0 30px;
    }
    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 60px;
    }

    .f-item {
        margin: 30px 0 0;
    }

    .f-img {
        width: 65px;
        height: 70px;
    }

    .f-h2 {
        font-size: 20px;
    }
    /* feature end */

    /* course start */
    .pb-60 {
        padding-bottom: 0px;
    }

    .c-item {
        margin-top: 20px;
        border-radius: 15px;
    }

    .c-h2 {
        margin: 10px 0 5px;
        font-size: 20px;
    }
    /* course end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header start */
    header {
        padding: 5px 0;
    }

    .logo {
        width: 65px;
    }

    .logo-h1 {
        font-size: 20px;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .banner {
        padding-bottom: 60px;
    }

    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 70px 20px;
        font-size: 35px;
        line-height: 50px;
    }

    .b-p2 {
        margin: 0 30px;
        line-height: 30px;
    }

    .b-img {
        margin: 0 50px 30px;
    }
    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 60px;
    }

    .f-item {
        margin: 30px 0 0;
    }

    .f-img {
        width: 65px;
        height: 70px;
    }

    .f-h2 {
        font-size: 20px;
    }
    /* feature end */

    /* course start */
    .pb-60 {
        padding-bottom: 20px;
    }

    .c-item {
        margin-top: 20px;
        padding: 15px 10px;
        border-radius: 15px;
    }

    .c-h2 {
        margin: 10px 0 5px;
        font-size: 20px;
    }
    /* course end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* header start */
    header {
        padding: 10px 0;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 150px 20px;
        font-size: 40px;
        line-height: 65px;
    }

    .b-p2 {
        margin: 0 110px;
        line-height: 30px;
    }

    .b-img {
        margin: 0 50px 30px;
    }
    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 80px;
    }
    /* feature end */

    /* course start */
    .pb-60 {
        padding-bottom: 40px;
    }

    .c-item {
        margin-top: 20px;
    }
    /* course end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* banner start */
    .b-h1 {
        margin: 10px 45px 20px 0;
    }
    /* banner end */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* banner start */
    .b-h1 {
        margin: 10px 45px 20px 0;
    }
    /* banner end */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}