/* X-Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {

    /* header start */
    header {
        padding: 5px 0;
    }

    .logo {
        width: 65px;
    }

    .logo-h1 {
        font-size: 20px;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .banner {
        padding-bottom: 60px;
    }

    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 0 20px;
        font-size: 35px;
        line-height: 50px;
    }

    .b-p2 {
        margin: 0;
        line-height: 30px;
    }

    .b-img {
        margin: 0 0 30px;
    }

    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 60px;
    }

    .f-item {
        margin: 30px 0 0;
    }

    .f-img {
        width: 65px;
        height: 70px;
    }

    .f-h2 {
        font-size: 20px;
    }

    /* feature end */

    /* course start */
    .c-title h1 {
        font-size: 25px;
    }

    .c-item {
        margin: 30px 0px 0px;
    }

    .c-h2 {
        font-size: 22px;
    }

    .c-left img,
    .c-right img {
        width: 18px;
    }

    .c-left span,
    .c-right span {
        font-size: 14px;
    }

    /* course end */

    /* testimonial start */
    .t-item {
        margin-top: 30px;
    }

    .t-img {
        padding: 0 60px 20px;
    }

    .t-text {
        text-align: center;
    }

    /* footer top start */
    .footer-top {
        text-align: center;
        padding: 55px 0 20px;
    }

    .f-details {
        margin-bottom: 35px;
        padding: 0;
    }

    .f-links {
        margin-bottom: 35px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header start */
    header {
        padding: 5px 0;
    }

    .logo {
        width: 65px;
    }

    .logo-h1 {
        font-size: 20px;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .banner {
        padding-bottom: 60px;
    }

    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 70px 20px;
        font-size: 35px;
        line-height: 50px;
    }

    .b-p2 {
        margin: 0 30px;
        line-height: 30px;
    }

    .b-img {
        margin: 0 50px 30px;
    }

    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 60px;
    }

    .f-item {
        margin: 30px 0 0;
    }

    .f-img {
        width: 65px;
        height: 70px;
    }

    .f-h2 {
        font-size: 20px;
    }

    /* feature end */

    /* course start */
    .c-title h1 {
        font-size: 25px;
    }

    .c-item {
        margin: 30px 50px 0px;
    }

    .c-h2 {
        font-size: 22px;
    }

    /* course end */

    /* testimonial start */
    .t-item {
        margin-top: 30px;
    }

    .t-img {
        padding: 0 120px 20px;
    }

    .t-text {
        text-align: center;
    }

    /* footer top start */
    .footer-top {
        text-align: center;
    }

    .f-details {
        margin-bottom: 40px;
        padding: 0 70px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* header start */
    header {
        padding: 10px 0;
    }

    .menu ul li a {
        padding: 0 5px 5px !important;
    }

    .btn-sign-in {
        margin-left: 0;
    }

    /* banner start */
    .b-text {
        text-align: center;
    }

    .b-h1 {
        margin: 10px 150px 20px;
        font-size: 40px;
        line-height: 65px;
    }

    .b-p2 {
        margin: 0 110px;
        line-height: 30px;
    }

    .b-img {
        margin: 0 50px 30px;
    }

    /* banner end */

    /* feature start */
    .pb-100 {
        padding-bottom: 80px;
    }

    /* feature end */

    /* course start */
    .c-title h1 {
        font-size: 30px;
    }

    .c-item {
        margin: 40px 140px 0px;
    }

    /* course end */

    /* testimonial start */
    .t-item {
        margin-top: 40px;
    }

    /* footer top start */
    .footer-top {
        text-align: center;
    }

    .f-details {
        margin-bottom: 40px;
        padding: 0 80px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* banner start */
    .b-h1 {
        margin: 10px 45px 20px 0;
    }

    /* banner end */

    /* course start */
    .c-item {
        padding: 20px 15px 25px;
    }

    .c-left img,
    .c-right img {
        width: 20px;
    }

    .c-left span,
    .c-right span {
        font-size: 15px;
    }

    /* course end */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* banner start */
    .b-h1 {
        margin: 10px 45px 20px 0;
    }

    /* banner end */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* footer top start */
    .f-details {
        padding-right: 130px;
    }

    /* footer top end */
}