table, th, td {
  border: 1px solid black;
  border-radius: 5px;

  font-size: 18px;
  text-align: center;
}

table {
    border-spacing: 10px;
}

th {
    padding: 0 10px;
}

tbody tr:nth-child(1), tr:nth-child(2), tr:nth-child(3) {
  background-color: #D6EEEE;
}

tbody tr:nth-child(4), tr:nth-child(5), tr:nth-child(6) {
  background-color: #efd7ed;
}

form {
    font-family: Arial;
    font-size: 16px;
}

input {
    margin-bottom: 5px;
}